html, body {
    word-wrap: break-word;
    word-break: break-all;
    height: 100%;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, form, th, td, hr {
    padding: 0;
    margin: 0;
}
body {
    font: 0.28rem/1.3 sans-serif;
    text-align: left;
    color: #333;
    min-width: 320px;
    padding-bottom: 1rem;
    background-color: #F5F5F5;
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1, h2, h3, h4, h5, h6, p, input, button, select, textarea {
    font-size: 0.28rem;
    font-weight: normal;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul, ol, li {
    list-style: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
caption, cite, em, i, strong, th {
    font-style: normal;
    font-weight: normal;
}
caption, th {
    text-align: left;
}
input, textarea, button {
    border: none;
    resize: none;
    outline: 0;
}
button{
    background-color: transparent;
}
a, a:visited {
    color: #333;
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    border: none;
}

.gm-content {
    min-height: 100%;
    padding-bottom: 1rem;
}
.gm-block {
    display: block;
}
.gm-inline-block {
    display: inline-block;
}
.gm-hidden {
    display: none;
}
.gm-relative {
    position: relative;
}
.gm-clear:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* 缩放 */
.gm-tiny-scale{
    width: 200%;
    margin-left: -50%;
    box-sizing: border-box;
    transform: scale(0.5);
}

/* 方图占位 */
.gm-nothumb {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #E5E5E5;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* 多行省略 */
@for $lineCount from 1 through 3 {
    .gm-ellipsis-row#{$lineCount} {
        overflow: hidden;
        @if $lineCount == 1 {
            white-space: nowrap;
            text-overflow: ellipsis;
        } @else {
            display: -webkit-box;
            text-overflow: -o-ellipsis-lastline;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: $lineCount;
        }
    }
}
