html, body {
    word-wrap: break-word;
    height: 100%;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, form, th, td, hr {
    padding: 0;
    margin: 0;
}
body {
    font: 0.28rem/1.3 sans-serif;
    color: #333;
    padding-bottom: 1rem;
    background-color: #F5F5F5;
}
img {
    display: block;
    max-width: 100%;
}
