/* 标题文字 */
$fClrTitle: #282828;
/* 正文字 */
$fClrMain: #464646;
/* 辅助文字灰 */
$fClrWeak: #666;
$fClrWeaker: #999;
$fClrWeakest: #CCC;
/* 辅助文字彩 */
$fClr7690: #FF7690;
/* 链接文字 */
$fClrLink: #4ABAB4;
/* 提示文字 */
$fClrTip: #9D704F;

/* 主视觉 */
$clrLight: #3ADBD2;
/* 辅助色 */
$clr7690: #FF7690;
/* 提示色 */
$clrTip: FFFBE4;
/* 失效色 */
$clrDis: #D5D5D5;

/* 分割线 */
$bdClr: #F0F0F0;
$bdClrStrong: #E5E5E5;
/* 背景色 */
$bgClr: #F4F3F8;
