/* 标题文字 */
$fontTitleColor: #282828;
/* 正文字 */
$fontMainColor: #464646;
/* 辅助文字 */
$fontAssistColor: #666;
$fontWeakColor: #999;
$fontWeakestColor: #CCC;
$fontPinkColor: #FF7690;
/* 链接文字 */
$fontLinkColor: #4ABAB4;
/* 提示文字 */
$fontTipColor: #9D704F;

/* 主视觉 */
$lightColor: #3ADBD2;
/* 辅助色 */
$pinkColor: #FF7690;
/* 提示色 */
$tipColor: FFFBE4;

/* 分割线 */
$borderColor: #F0F0F0;
/* 背景色 */
$bgColor: #F4F3F8;
/* 失效色 */
$disColor: #D5D5D5;
